@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

/* Make the whole page black by default */
body {
  background-color: black;
}

#root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
}

#embers canvas {
  filter:
    blur(0.4px) drop-shadow(0 0 2px rgba(255, 255, 255, 0.9)) drop-shadow(0 0 5px rgba(255, 255, 255, 0.445));
}